{% extends "portal/base.html" %}
{# create new Task #}

{% block title %} Create new project {% endblock %}


{% block container %}

    <h3>Create Project</h3>
    <div class="panel panel-default">


        <div class="panel-body">

            <form class="form-horizontal" role="form" action="" method="post">
                {% csrf_token %}

                {# Name #}
                <div class="form-group   {% if form.name.errors %}  has-error {% endif %}">
                    <label class="control-label col-sm-2 {# input-sm #}" for="id_nane">Project*:</label>

                    <div class="col-sm-4">
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                </div>


                {# Start Date: #}
                <div class="form-group  {% if form.start_date.errors %}  has-error {% endif %}">
                    <label class="control-label col-sm-2" for="id_start_date">Start Date*:</label>

                    <div class="col-sm-3">
                        {{ form.start_date }}
                        {{ form.start_date.errors }}
                    </div>
                </div>


                {# Required Date: #}
                <div class="form-group  {% if form.due_date.errors %}  has-error {% endif %}">
                    <label class="control-label col-sm-2" for="id_due_date">Required Date*:</label>

                    <div class="col-sm-3">
                        {{ form.due_date }}
                        {{ form.due_date.errors }}
                    </div>
                </div>

                {# PWO : #}
                <div class="form-group   {% if form.pwo.errors %}  has-error {% endif %}">
                    <label class="control-label col-sm-2 {# input-sm #}" for="id_pwo">PWO:</label>

                    <div class="col-sm-4">
                        {{ form.pwo }}
                        {{ form.pwo.errors }}
                    </div>
                </div>

                {# Assignee #}
                <div class="form-group   {% if form.assignee.errors %}  has-error {% endif %}">
                    <label class="control-label col-sm-2 {# input-sm #}" for="id_assignee">Assignee*:</label>

                    <div class="col-sm-3">
                        {{ form.assignee }}
                        {{ form.assignee.errors }}
                    </div>
                </div>

                {# Department #}
                <div class="form-group   {% if form.department.errors %}  has-error {% endif %}">
                    <label class="control-label col-sm-2 {# input-sm #}" for="id_department">Department:</label>

                    <div class="col-sm-3">
                        {{ form.department }}
                        {{ form.department.errors }}
                    </div>
                </div>


                {# Comments : #}
                    <div class="form-group   {% if form.comments.errors %}  has-error {% endif %}">
                        <label class="control-label col-sm-2 {# input-sm #}" for="status">Comments:</label>

                        <div class="col-sm-4">
                            {{ form.comments }}
                            {{ form.comments.errors }}
                        </div>
                    </div>



                {# Submit #}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-primary">Create project</button>
                        <a href="/tasks/list" class="btn btn-default" role="button">Cancel</a>

                    </div>
                </div>


            </form>


        </div>
    </div>


    <script>
        $(function () {
            $("#id_start_date").datepicker({
                dateFormat: "yy-mm-dd"
            });

             $("#id_due_date").datepicker({
                dateFormat: "yy-mm-dd"
            });

            {#   //$("#id_end_date").datepicker('setDate', new Date()); #}
            {#// if ($("#id_date").val() === ""){   #}
            {#//     $("#id_date").datepicker('setDate', new Date()); #}
            {#//}#}
        });

    </script>


{% endblock %}