{% extends "portal/base.html" %}

{% load staticfiles %}
{# {% load humanize %} #}

{% block additional_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static "datatables/datatables.min.css" %}"/>
    <script type="text/javascript" src="{% static "datatables/datatables.min.js" %}"></script>
{% endblock %}


{% block container %}
    <!-- Main component for a primary marketing message or call to action -->

    <h3>
        {% if can_manage %}
            Pending Projects
        {% else %}
            My Pending Projects
        {% endif %}
    </h3>

  {% if can_manage %}  <a href="/projects/create" class="btn btn-primary" role="button">Create Project</a>  {% endif %}
    <a href="/projects/list" class="btn btn-success">Refresh</a>

    <div>&nbsp</div>
    <div>&nbsp</div>





    <div class="">

        <table id="tasks-table" class="table table-condensed table-hover table-bordered1 table-striped display compact">
            <thead>
            <tr class="result-header small">
                <th>Code</th>
                <th>Project</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>PWO</th>
                <th>Owner</th>
                <th>Assignee</th>
                <th>Department</th>

                <th>Status</th>
                <th>Completed</th>
            </tr>
            </thead>

            <tbody>
            {% for t in projects %}
                <tr class="small">
                <td>
                    {{ t.code }}
                </td>
                    <td>
                        <a href="/projects/{{ t.id }}/details"> {{ t.name }}</a>
                    </td>
                    <td>
                        {{ t.start_date }}
                    </td>
                     <td>
                        {{ t.due_date }}
                    </td>
                     <td>
                        {{ t.pwo }}
                    </td>

                    <td>
                        {{ t.owner.first_name }} {{ t.owner.last_name }}
                    </td>

                     <td>
                        {{ t.assignee.first_name }} {{ t.assignee.last_name }}
                    </td>


                    <td>
                        {{ t.department|default_if_none:'' }}
                    </td>

                    <td> {{ t.status|default_if_none:'' }}  </td>

                 <td> {{ t.completed }}  </td>



                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>




    <script>

        $("#tasks-table").DataTable({
            // paging: false
            paging: false,
            dom: 'Bfrtip',
            buttons: [
                'copy',
                // 'csv',
                //'excel',
                //'pdf',
                'print'
            ],
            // "pagingType": "full_numbers"
        });

    </script>


{% endblock %}