{% extends "portal/base.html" %}



{% block container %}
    <!-- Main component for a primary marketing message or call to action -->

    <h3> {{ request.number }} Request details</h3>
    <div class="panel panel-default">

        <div class="panel-heading">
            <a href="/rnd/requests" class="btn btn-primary">Requests</a>
        </div>

        <div class="panel-body">

            <div class="container">
                <div class="row">
                    <div class="col-sm-1">Number:</div>
                    <div class="col-sm-4"> {{ request.number }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-1">Created:</div>
                    <div class="col-sm-4"> {{ request.created }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-1">Req. date:</div>
                    <div class="col-sm-4"> {{ request.required_date }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-1">Model:</div>
                    <div class="col-sm-4"> {{ request.model }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-1">Comments:</div>
                    <div class="col-sm-8"> <pre>{{ request.text }}</pre></div>
                </div>

            </div>

        </div>
    </div>


    {% if manager %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Manager Approval</strong> -
                Current status: {% if request.manager_approved == 0 %}
                <span class="label label-warning">Pending</span>
            {% elif request.manager_approved == 1 %}
                <span class="label label-danger">Declined</span>
            {% elif request.manager_approved == 2 %}
                <span class="label label-success">Approved</span>
            {% endif %}
            </div>

            <div class="panel-body">

                {% if request.manager_approved != 1 %}
                    <form class="form-inline" id="decline_form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <input type="hidden" name="who" value="manager">
                        <input type="hidden" name="result" value="declined">

                        <button type="submit" class="btn btn-danger">Decline</button>

                        <div class="form-group">
                            <label for="reason">Comments:</label>
                            <input type="text" class="form-control" id="comments_id" name="comments">
                        </div>
                    </form>
                {% endif %}

                {% if request.manager_approved == 0 %}
                    <hr>
                {% endif %}

                {% if request.manager_approved != 2 %}

                    <form class="form-inline" id="approve_form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <input type="hidden" name="who" value="manager">
                        <input type="hidden" name="result" value="approved">

                        <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                {% endif %}

            </div>
        </div>
    {% endif %}


    {% if chairman %} {# Owner #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Chairman Approval</strong>
                Current status: {% if request.owner_approved == 0 %}
                <span class="label label-warning">Pending</span>
            {% elif request.owner_approved == 1 %}
                <span class="label label-danger">Declined</span>
            {% elif request.owner_approved == 2 %}
                <span class="label label-success">Approved</span>
            {% endif %}
            </div>

            <div class="panel-body">


                {% if request.owner_approved != 1 %}
                    <form class="form-inline" id="decline_form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <input type="hidden" name="who" value="owner">
                        <input type="hidden" name="result" value="declined">

                        <button type="submit" class="btn btn-danger">Decline</button>

                        <div class="form-group">
                            <label for="reason">Comments:</label>
                            <input type="text" class="form-control" id="comments_id" name="comments">
                        </div>
                    </form>
                {% endif %}

                {% if request.owner_approved == 0 %}
                    <hr>
                {% endif %}

                {% if request.owner_approved != 2 %}

                    <form class="form-inline" id="approve_form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <input type="hidden" name="who" value="owner">
                        <input type="hidden" name="result" value="approved">

                        <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                {% endif %}


            </div>
        </div>
    {% endif %}

    {% if user.is_superuser %}

        <div class="panel panel-default">
            <div class="panel-heading">
                System Admin
            </div>

            <div class="panel-body">

                {% if request.owner_approved == 2 %}

                    {% if request.manager_approved == 2 %}

                        <form class="form-inline" id="approve_form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="request_id" value="{{ request.id }}">
                            <input type="hidden" name="who" value="admin">
                            <input type="hidden" name="result" value="complete">

                             <div class="form-group">
                            <label for="reason">Comments:</label>
                            <input type="text" class="form-control" id="comments_id" name="comments">
                        </div>

                            <button type="submit" class="btn btn-success">Complete!</button>
                        </form>


                    {% endif %}

                {% endif %}

            </div>
        </div>



    {% endif %}




{% endblock %}