{# finance requests list #}
{% extends "portal/base.html" %}

{% load humanize %}



{% block container %}
    <!-- Main component for a primary marketing message or call to action -->

    <h3>
        {% if can_manage %}
            Funds Requests for approval
        {% else %}
            My Funds Requests
        {% endif %}
    </h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            {# {% if not can_manage %} #}
            <a href="/finance/request/create" class="btn btn-primary" role="button">Create request</a>
            {# {% endif %} #}
            <a href="/finance/requests" class="btn btn-success">Refresh</a>
        </div>

        <div class="panel-body">

         </div>
    </div>

            <table class=" table table-condensed table-hover table-bordered1 table-striped">
                <thead>
                <tr class="result-header">
                    <th>Request</th>
                    <th>Amount, AED</th>
                    <th>Department</th>
                    <th>Priority</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Required date</th>
                    <th>Comments</th>
                    <th>Aproval status</th>

                    {% if  can_manage %}
                    {% else %}
                        <th>&nbsp;</th>
                    {% endif %}
                </tr>
                </thead>


                <tbody>
                {% for r in requests %}
                    <tr class="">
                        <td>
                            <a href="/finance/request/{{ r.id }}/details">{{ r.number }}</a>
                        </td>
                        <td>
                            {{ r.amount|floatformat:2|intcomma }}
                        </td>
                        <td>
                            {{ r.author.user_profile.department }}
                        </td>
                        <td>
                            {{ r.get_priority_display }}
                        </td>
                        <td>
                            {{ r.author.first_name }} {{ r.author.last_name }}
                        </td>
                        <td>
                            {{ r.created }}
                        </td>
                        <td>
                            {{ r.required_date }}
                        </td>
                        <td>
                            {{ r.comments|truncatewords:5 }}
                        </td>
                        <td>

                            {% if r.approved == 0 %}
                                <span class="label label-warning">Pending</span>
                            {% elif r.approved == 1 %}
                                <span class="label label-danger">Declined</span>
                            {% elif r.approved == 2 %}
                                <span class="label label-success">Approved</span>
                            {% endif %}
                            {% comment %}
                            {% ifequal r.manager_approved  0 %}
                                <span class="label label-warning">Pending</span>
                            {% endifequal %}
                            {% ifequal r.manager_approved  1 %}
                                <span class="label label-danger">Declined</span>
                            {% endifequal %}
                            {% ifequal r.manager_approved 2 %}
                                <span class="label label-success">Approved</span>
                            {% endifequal %}
                            {{ r.manager_approved }}
                            {% endcomment %}
                        </td>

                        {% if  can_manage %}
                        {% else %}
                            <td>
                                <a href="/finance/request/{{ r.id }}/delete/" class="btn btn-danger btn-xs"
                                   role="button"
                                   onclick="return confirm('Are you sure to remove Request {{ r.number }}?')">delete</a>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>




    {% if completed_requests %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Completed requests</strong>
            </div>

            <div class="panel-body">

                <table class=" table table-condensed table-hover table-bordered1 table-striped">
                    <thead>
                    <tr class="result-header">
                        <th>Request</th>
                        <th>Model</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Required date</th>
                        <th>Comments</th>
                        <th>Manager approved</th>
                        <th>Chairman approved</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for r in completed_requests %}
                        <tr class="small">
                            <td >
                                <a href="/rnd/request/{{ r.id }}/details">{{ r.number }}</a>
                            </td>
                            <td>
                                {{ r.model }}
                            </td>
                            <td>
                                {{ r.author }}
                            </td>
                            <td>
                                {{ r.created }}
                            </td>
                            <td>
                                {{ r.required_date }}
                            </td>
                            <td>
                                {{ r.text|truncatewords:5 }}
                            </td>
                            <td>
                                {% if r.manager_approved == 0 %}
                                    <span class="label label-warning">Pending</span>
                                {% elif r.manager_approved == 1 %}
                                    <span class="label label-danger">Declined</span>
                                {% elif r.manager_approved == 2 %}
                                    <span class="label label-success">Approved</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if r.owner_approved == 0 %}
                                    <span class="label label-warning">Pending</span>
                                {% elif r.owner_approved == 1 %}
                                    <span class="label label-danger">Declined</span>
                                {% elif r.owner_approved == 2 %}
                                    <span class="label label-success">Approved</span>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    {% endif %}





{% endblock %}